<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../assets/po3.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="header">
        <br>
        <img class="logo" src="../assets/logooi.png">
        <h3 class="title">Portal Oi</h3>
    </div>
    <br><br>

    <div class="message">
        Olá! <%= user %>! Você está no Portal Oi!<br>
    </div>

    <div class="dashboard">
        <h3 class="help">Com o que deseja obter ajuda?
        </h3>
        <a href="/tutorial"><button class="velox">Como instalar o Oi Velox</button></a>
        <a href="/prepago"><button>Ajuda com Oi Pré-Pago</button></a>
        <a href="/oipontos"><button>Ajuda com Oi Pontos</button></a>
        <a href="/movel"><button>Ajuda com Oi Móvel</button></a>
        <a href="/modem"><button>Configurar Modem Oi</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
</body>

</html>