<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../assets/po3.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="../assets/logooi.png">
        <h3 class="title">Portal Oi</h3>
    </div>
    <br><br>

    <div class="message">
        Olá, bem vindo(a) ao Portal Oi! Faça seu login para continuar.<br>
    </div>

    <div class="login">
        <form action="/submit" method="post">
            <h1>Login</h1>
            <input type="text" name="ddd" placeholder="DDD" required minlength="2" maxlength="2">
            <input type="text" name="number" placeholder="Número Oi" required minlength="8" maxlength="9">
            <br>
            <br>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="fa-message">
        Não possui uma conta? <a href="/register">Cadastre-se!</a>
    </div>
</body>
</html>