<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../assets/po3.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="../assets/logooi.png">
        <h3 class="title">Portal Oi</h3>
    </div>
    <br><br>

    <div class="message">
        Oi! Para criar sua conta Oi, precisamos da seguinte informação!
    </div>

    <div class="login">
        <form action="/register/submit" method="post">
            <h1>Registrar</h1>
            <input type="text" name="name" placeholder="Nome completo" required>
            <br>
            <input type="text" name="ddd" placeholder="DDD" required minlength="2" maxlength="2">
            <input type="text" name="number" placeholder="Número Oi" required minlength="8" maxlength="9">
            <br>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>