<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../assets/po3.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<style>
    body {
        background-color: #7c74aa;
    }
</style>
<body>
    <div class="header">
        <img class="logo" src="../assets/oi3.png">
        <h3 class="title">Pontos</h3>
    </div>
    <br><br>

    <video controls autoplay>
        <source src="../assets/oipontos.mp4" type="video/mp4">
    </video>   <br>
   <br>
   <a href="/"><button>Estou pronto!</button></a>
</body>
</html>