<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../assets/po3.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="../assets/logooi.png">
        <h3 class="title">Portal Oi</h3>
    </div>
    <br><br>

    <h1>Como instalar meu Oi Velox?</h1>
   <video controls autoplay>
       <source src="../assets/oivelox.mp4" type="video/mp4">
   </video>

    <br>
    <br>
    <a href="/"><button>Estou pronto!</button></a>
</body>
</html>